body{background-color: white;}
div.Entete{background-color:grey;height:100px;
    text-align : center;font-family: cursive;width:100%}


div.Principal{width : 100%;}
div.Menu{background-color:grey;
    float : left;width: 100px ; height : 650px;
    text-align : center; }
div.texte{width : 70%;float : left;padding-left : 50px}
#position{object-position: 100%;}
.titre{color : blue}
.menu{color : red;font-family: cursive}