body{background-color: white;}
div.Entete{background-color:red;height:100px;
    text-align : center;font-family: cursive;}

div.Menu{background-color:grey;
float:left;width: 100px ; height : 950px;
text-align : center;}
div.contenu{}